<div class="container">
  <h2>Lista de Productos</h2>
  <div *ngIf="products.length > 0; else noProducts">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Referencia</th>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Precio</th>
          <th>Stock</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td>{{ product.id }}</td>
          <td>{{ product.reference }}</td>
          <td>{{ product.name }}</td>
          <td>{{ product.description }}</td>
          <td>{{ product.price | currency }}</td>
          <td>{{ product.stock }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <ng-template #noProducts>
    <p>No hay productos disponibles.</p>
  </ng-template>
</div>
