


.active {
  background-color: #1a202c; /* Color oscuro */
  color: white !important;
  border-radius: 5px;
}
/* Fondo oscuro al abrir el modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

/* Ajustamos el modal */
.modal {
  position: absolute;
  width: 300px;
  height: auto;
  max-height: 90vh;
  overflow-y: auto;
  background: white;
  z-index: 1001;
  transition: transform 0.3s ease-in-out;
}


.mobile-nav-link {
  display: block;
  padding: 10px;
  color: white;
  text-decoration: none;
}

.mobile-nav-link:hover {
  background-color: #374151;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Viewheight completo */
}

.content-wrapper {
  flex: 1 0 auto; /* Toma todo el espacio disponible */
  padding-bottom: 50px; /* Espacio para asegurar que el contenido no se pegue al footer */
}

.site-footer {
  flex-shrink: 0; /* Evita que el footer se encoja */
  width: 100%;
}

/* Si necesitas que el footer esté siempre en la parte inferior incluso con poco contenido */
@media screen and (min-height: 700px) {
  .site-footer {
    margin-top: auto;
  }
}