


.active {
  background-color: #1a202c; /* Color oscuro */
  color: white !important;
  border-radius: 5px;
}
/* Fondo oscuro al abrir el modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

/* Ajustamos el modal */
.modal {
  position: absolute;
  width: 300px;
  height: auto;
  max-height: 90vh;
  overflow-y: auto;
  background: white;
  z-index: 1001;
  transition: transform 0.3s ease-in-out;
}


.mobile-nav-link {
  display: block;
  padding: 10px;
  color: white;
  text-decoration: none;
}

.mobile-nav-link:hover {
  background-color: #374151;
}

