<div class="max-w-6xl mx-auto p-8 bg-gradient-to-r from-blue-50 to-gray-100 shadow-xl rounded-lg">
  <h2 class="text-4xl font-bold mb-8 text-center text-gray-800">Gestión de Usuarios</h2>

  <!-- Formulario de Usuario -->
  <form (ngSubmit)="onSubmit()" #usuarioForm="ngForm" class="bg-white p-6 rounded-lg shadow-md space-y-4">
    <div>
      <label class="block text-sm font-semibold text-gray-700">Nombre</label>
      <input
        type="text"
        class="w-full p-3 border border-gray-300 rounded-lg shadow-sm focus:ring-blue-500 focus:border-blue-500"
        [(ngModel)]="usuario.name"
        name="name"
        required
      />
    </div>

    <div>
      <label class="block text-sm font-semibold text-gray-700">Correo</label>
      <input
        type="email"
        class="w-full p-3 border border-gray-300 rounded-lg shadow-sm focus:ring-blue-500 focus:border-blue-500"
        [(ngModel)]="usuario.email"
        name="email"
        required
      />
    </div>

    <div>
      <label class="block text-sm font-semibold text-gray-700">Rol</label>
      <select
        class="w-full p-3 border border-gray-300 rounded-lg shadow-sm focus:ring-blue-500 focus:border-blue-500"
        [(ngModel)]="usuario.role"
        name="role"
        required
      >
        <option *ngFor="let categoria of categorias" [value]="categoria">{{ categoria }}</option>
      </select>
    </div>

    <button
      type="submit"
      class="w-full bg-blue-600 text-white p-3 rounded-lg hover:bg-blue-700 transition duration-300 shadow-md font-semibold"
    >
      {{ usuario.id ? 'Actualizar Usuario' : 'Crear Usuario' }}
    </button>
  </form>

  <!-- Búsqueda y filtro -->
  <div class="flex justify-between items-center my-6 p-4 bg-white rounded-lg shadow-md">
    <input
      type="text"
      [(ngModel)]="searchTerm"
      placeholder="Buscar usuario..."
      class="w-2/3 p-3 border border-gray-300 rounded-lg shadow-sm focus:ring-blue-500 focus:border-blue-500"
    />
    <select
      [(ngModel)]="selectedCategory"
      class="p-3 border border-gray-300 rounded-lg shadow-sm focus:ring-blue-500 focus:border-blue-500"
    >
      <option value="">Todos</option>
      <option *ngFor="let categoria of categorias" [value]="categoria">{{ categoria }}</option>
    </select>
  </div>

  <hr class="my-6 border-gray-300" />

  <!-- Tarjetas de Usuarios -->
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 p-4">
    <div *ngFor="let user of filteredUsers" class="card">
      <div class="card-border-top"></div>
      <span>{{ user.name }}</span>
      <p class="job">{{ user.role }}</p>
      <button (click)="onEditar(user)">Editar</button>
      <button (click)="onEliminar(user.id)" class="mt-2 bg-red-500 hover:bg-red-600">Eliminar</button>
    </div>
  </div>
</div>
