.cart {
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 8px;
  background: #f9f9f9;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f4f4f4;
}

.cart-container {
  min-height: 70vh; /* Altura mínima del 70% del viewport */
  display: block;
  padding: 0px 0;
}

/* Para el estado vacío */
.cart-container > div {
  min-height: 400px; /* Altura mínima fija para el contenedor interno */
}