<div *ngIf="errorMessage" class="error-message">
  {{ errorMessage }}
</div>

<div *ngFor="let cart of shoppingCarts">
  <h3>Carrito ID: {{ cart.id }}</h3>
  <p>Cliente ID: {{ cart.clientId }}</p>
  <button (click)="calculateTotal(cart.id)">Calcular Total</button>
  <p *ngIf="cartTotals[cart.id] !== undefined">Total: {{ cartTotals[cart.id] }}</p>

  <h4>Ítems:</h4>
  <ul>
    <li *ngFor="let item of cart.cartItems">
      Producto ID: {{ item.productId }} - Cantidad: {{ item.quantity }} - Precio: {{ item.unitPrice }}
    </li>
  </ul>
</div>
  