<div *ngIf="shoppingCart">
  <h2>Carrito de {{ shoppingCart.username }} - Estado: {{ shoppingCart.status }}</h2>
  <p>Total: {{ shoppingCart.totalCartPrice | currency }}</p>

  <table>
    <thead>
      <tr>
        <th>Producto</th>
        <th>Cantidad</th>
        <th>Precio Unitario</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of shoppingCart.cartItems; trackBy: trackByItemId">
        <td>{{ item.product.name }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.unitPrice | currency }}</td>
        <td>{{ item.totalPrice | currency }}</td>
      </tr>
    </tbody>
  </table>
</div>
