<div class="flex min-h-screen">
  <!-- Sidebar -->
  <div class="w-64 bg-blue-800 text-white p-5">
    <h1 class="text-xl font-semibold mb-5">Admin Dashboard</h1>
    <ul class="space-y-2">
      <li><a routerLink="/users" class="block p-2 hover:bg-blue-700 rounded">Usuarios</a></li>
      <li><a routerLink="/adminproducts" class="block p-2 hover:bg-blue-700 rounded">Productos</a></li>
      <li><a routerLink="/admin/categorias" class="block p-2 hover:bg-blue-700 rounded">Categorías</a></li>
      <li><a routerLink="/admin/ordenes" class="block p-2 hover:bg-blue-700 rounded">Órdenes</a></li>
      <li><a routerLink="/invoices" class="block p-2 hover:bg-blue-700 rounded">Facturas</a></li>
      <li><a routerLink="/admin/ventas" class="block p-2 hover:bg-blue-700 rounded">Ventas</a></li>
      <li><a routerLink="/admin/reportes" class="block p-2 hover:bg-blue-700 rounded">Reportes</a></li>
    </ul>
  </div>

  <!-- Contenido -->
  <div class="flex-1 p-10 bg-gray-100">
    <router-outlet></router-outlet>
  </div>
</div>

